<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h2>The Home Page</h2>
<a href="{%url 'addstudent'  %}">Add Students</a>

<table>
    <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Email</td>
        <td>Gender</td>
        <td>Date of birth</td>
    </tr>
    {% for stu in users %}
        <tr>
        <td>{{ stu.firstname }}</td>
        <td>{{ stu.lastname }}</td>
        <td>{{ stu.email }}</td>
        <td>{{ stu.gender }}</td>
        <td>{{ stu.date_of_birth }}</td>
        </tr>

    {% endfor %}
</table>

</body>
</html>